a.idTop {
    position: fixed; 
    z-index: 9999; 
    bottom: 0%; 
    right: 0%; 
    background: #7db9e8; 
    opacity: .6; 
    color: #fff; 
    padding: 10px; 
    margin: 5px 15px 15px 5px; 
   }
   a.idTop:hover {
    opacity: 1;
   }
img {
    width: 100%;
}
figure {
    float: right;
    width: 30%;
    text-align: center;
    font-style: normal;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }